body { 
    
    font-family: 'Open Sans', 'sans-serif';
    font-family: 'Montserrat', 'sans-serif';
    font-family: 'Crimson Text', 'serif';
 margin: 0; 
}

a {
     text-decoration: none; 
    }
html { 
    box-sizing: border-box; 
}
*, *::before, *::after { 
    box-sizing: inherit; 
}

img {
     max-width: 100%;

     }

.header-list-link {
    list-style-type: none;
    padding-left: 0;
    margin-left: 60px;

    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: uppercase;

}    






     /* haeder */



.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
   

}
.header {
    display: flex;



}

.header-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-list-link {
    display: flex;
    align-items: center;
}

.header-list-link-conact {
    display: flex;
    align-items: center;






    }


.nav-item-contact{
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.search-contact {
    display: flex;



}


.header-logo {
    color: #1E0606;
    width: 100px;
    min-width: 100px;
    height: 52px;
}
.nav-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-right: 15px;
}    

.nav-item-contact {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.pourple-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #000000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    min-height: 40px;
    padding: 9px;
    


    
}


.first-conteiner {
    padding: 130px;
    margin-top: 130px;
    position: relative;
}



.poster-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;  
    margin-top: 0;
    
}
.poster-down {
    
width: 1180px;
height: 39px;



background: #C29974;


}
.poster-mini {
    font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
}

.poster {
    
    
   
    
    background: #EEE4DB;

   
   


}

.poster-picture {
    display: flex;
    
    position: absolute;
width: 635.49px;
height: 461px;
left: 448px;
top: 17px;
    
}

.partners {
    margin-top: 91px;
    margin-bottom: 90px;
}

.partners-list {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    padding: 0;
}

.d-l-k {
 display: flex;
 justify-content: space-around;
 position: relative;
 align-items: baseline;
}

.design-Life-kids {
    
    
    width: 357px;
height: 47px;
left: 140px;
top: 2043px;

/* Title two */

font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
/* identical to box height */

text-transform: uppercase;

/* Black */

color: #1E0606;
}

.design-Life-kids-smalll {
    width: 483px;
height: 66px;
left: 740px;
top: 2110px;

font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* Black */

color: #1E0606;
}

.about-Us {
    width: 85px;
height: 33px;
left: 140px;
top: 2100px;

font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 32px;
/* identical to box height */


color: #1E0606;
}

.design-Life-kids-small {
    width: 483px;
height: 67px;
left: 140px;
top: 2143px;

    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.design-Life-kids-back {
    width: 543px;
height: 236px;
background: #E1F0F7;


    
}

.contactss {
    background: #E1F0F7;
    

}


.map-image {
width: 483px;
height: 196px;

}

.Designed-in-Slovenia {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
margin-top: 0;

}
.category-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;


}

.category-pictyre {
    list-style-type: none;
   padding: 0;
   display: flex;
   justify-content: space-between;
   

}


.hidden {
    display: none
}
.arrows {
    display: flex;
    align-items: center;
    
}

.arrow {
    width: 37px;
height: 37px;
padding: 0;
border: 0;
margin-right: 6px;

}

.HZ {
    margin-left: 20px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #1E0606;
    
}

.later {
    position: relative;
}

.lattery {
    position: relative;
    

}
.lattery-zz{
   
    position: absolute;
left: 22.14%;
right: 22.5%;
top: 27.15%;
bottom: 38.15%;
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.about-purchase {
  display: flex;
  margin-top: 94px;

}

.woman {
    
    margin-left: 120px;
    
   
}

.button-delivery {
    
    display: flex;
    flex-direction: column;
    border: 0;
}
  


.delivery-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin-top: 30px;
}

.button-delivery-first {
    font-family:'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 32px;
width: 97px;
height: 33px;
left: 710px;
top: 1392px;
color: #1E0606;
margin-bottom: 22px;


}

.woman-text {
    width: 480px;

left: 710px;
top: 1510px;

font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;



color: #1E0606;
}

.woman-button {
margin-top: 26px;
}

.footer-nav {
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #AAAAAA; 
margin-top: 100px;
}
.footer {
    display: flex;
    background: #434343;
    
}

.footer-gray {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.footer-spisok {
    list-style-type: none;
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
padding-left: 0;



color: #FFFFFF;
}

.pertner-item {
    border-radius: 15px;
    background: #666666;
}

.socail-li {
    display: flex;
}

.margin {
    margin-bottom: 15px;
}
.web-design {
    font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

display: flex;
align-items: center;

color: #A2A2A2;

}

.rating-button {
    padding: 0;
    border: 0;
    
    border-radius: 15px;
    width: 17px;
    height: 17px;
    margin-right: 2px;
    background: #434343;

}
.link-button {
    padding: 0;
    border: 0;
    background: #666666;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}
.rating {
    display: flex;
    
}

.rating-buttons {
    display: flex;
    margin-left: 25px;
}
.second-footer {
    margin-bottom: 100px;
}

.footer-center {
    margin-left: 45px;
}

.footer-right {
    margin-right: 85px
}

.email-submit {
    display: flex;
    margin-top: 9px;
}

.email {
    width: 299px;
    height: 40px;
    background: #666666;
    border: none;

}

.submit {
    width: 81px;
    height: 40px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: bold;

text-transform: uppercase;
    color: #FFFFFF;
background: #000000;
border: 0;
}