
.category-title-second {
    font-family: 'Montserrat';
   font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-transform: uppercase;
color: #1E0606;
margin-top: 60px;
}

.vector-button {
    margin-top: 15px;
}

.vector {
    
    margin-right: 20px;


}

.vector-button-head {
    
    list-style-type: none;
    padding-left: 0;     
    display: flex;
    align-items: center;
    
}

.nav-vector-button-home {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
margin-right: 20px;
}

.nav-vector-button-catalog {
    font-family: 'Crimson Text';
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 25px;
color: #1E0606;
opacity: 0.5;
}

.image-category {
    list-style-type: none;
    display: flex;
}



.product-description {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.product-description-text-head {
    
    
    align-items: flex-start;
}

.product-description-text {
    display: flex;
    justify-content: center;

    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.second-conteiner {
    width: 680px;
    
}